[submodule "Fomantic-UI"]
  path = Fomantic-UI
  url = https://github.com/fomantic/Fomantic-UI.git
[submodule "weui"]
  path = weui
  url = https://github.com/Tencent/weui.git
[submodule "bulma"]
	path = bulma
	url = https://github.com/jgthms/bulma.git
[submodule "github-markdown-css"]
	path = github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css.git
