<div class="ui menu vertical fluid">

  <div class="item">
    <span>Collections</span>
    <div class="menu">
      <a href="/collections/item" class="item">列表</a>
      <a href="/collections/menu" class="item">菜单</a>
      <a href="/collections/table" class="item">表格</a>
      <a href="/collections/card" class="item">卡片</a>
      <a href="/collections/breadcrumb" class="item">面包屑</a>
      <a href="/collections/message" class="item">消息提示</a>
      <a href="/collections/form" class="item">表单</a>
      <a href="/collections/grid" class="item">格子</a>
    </div>
  </div>

</div>
