<div class="ui menu vertical fluid">
  <div class="item">
    <span>Elements</span>
    <div class="menu">
      <a href="/elements/segment" class="item">Segment(段落)</a>
      <a href="/elements/header" class="item">Header(标题)</a>
      <a href="/elements/button" class="item">按钮</a>
      <a href="/elements/label" class="item">标签</a>
      <a href="/elements/input" class="item">文本框</a>
      <a href="/elements/site" class="item">网格</a>
      <a href="/elements/image" class="item">图片</a>
      <a href="/elements/loader" class="item">加载</a>
      <a href="/elements/divider" class="item">分割线</a>
      <a href="/elements/step" class="item">步骤</a>
    </div>
  </div>
</div>
