<div class="ui menu vertical fluid">
  <div class="item">
    <span>Elements</span>
    <div class="menu">
      <a href="/examples/elements/button" class="item">按钮</a>
      <a href="/examples/elements/label" class="item">标签</a>
      <a href="/examples/elements/input" class="item">文本框</a>
      <a href="/examples/elements/site" class="item">网格</a>
      <a href="/examples/elements/image" class="item">图片</a>
      <a href="/examples/elements/loader" class="item">加载</a>
      <a href="/examples/elements/divider" class="item">分割线</a>
      <a href="/examples/elements/step" class="item">步骤</a>
      <a href="/examples/elements/segment" class="item">段落</a>
    </div>
  </div>

  <div class="item">
    <span>Collections</span>
    <div class="menu">
      <a href="/examples/collections/item" class="item">列表</a>
      <a href="/examples/collections/menu" class="item">菜单</a>
      <a href="/examples/collections/table" class="item">表格</a>
      <a href="/examples/collections/card" class="item">卡片</a>
      <a href="/examples/collections/breadcrumb" class="item">面包屑</a>
      <a href="/examples/collections/message" class="item">消息提示</a>
      <a href="/examples/collections/form" class="item">表单</a>
      <a href="/examples/collections/grid" class="item">格子</a>
    </div>
  </div>

  <div class="item">
    <span>Modules</span>
    <div class="menu">
      <a href="/examples/modules/accordion" class="item">折叠菜单</a>
      <a href="/examples/modules/popup" class="item">提示框</a>
      <a href="/examples/modules/search" class="item">搜索框</a>
      <a href="/examples/modules/modal" class="item">弹出层</a>
    </div>
  </div>

  <div class="item">
    <span>Examples</span>
    <div class="menu">
      <a href="/examples/login" class="item">登录</a>
      <a href="/examples/admin" class="item">后台</a>
    </div>
  </div>
</div>