/* Global */

@font-face {
  font-family: 'Icons';
  src: url('variables/default/assets/fonts/icons.woff2');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

& { @import "less/globals/reset"; }
& { @import "less/globals/site"; }

& { @import "less/elements/reveal"; }

& { @import "less/modules/side"; }
& { @import "javascript/modules/accordion"; }
& { @import "javascript/modules/transition"; }
& { @import "javascript/modules/dropdown"; }

& { @import "less/elements/button"; }
& { @import "less/elements/container"; }
& { @import "less/elements/divider"; }
& { @import "less/elements/header"; }
& { @import "less/elements/icon"; }
& { @import "less/elements/image"; }
& { @import "less/elements/input"; }
& { @import "less/elements/label"; }
& { @import "less/elements/loader"; }
& { @import "less/elements/rail"; }
& { @import "less/elements/reveal"; }
& { @import "less/elements/segment"; }
& { @import "less/elements/step"; }

& { @import "less/collections/breadcrumb"; }
& { @import "less/collections/form"; }
& { @import "less/collections/grid"; }
& { @import "less/collections/message"; }
& { @import "less/collections/table"; }
& { @import "less/collections/card"; }
& { @import "less/collections/statistic"; }
& { @import "less/collections/menu"; }
& { @import "less/collections/item"; }

