---
layout: default
---


<ul class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li>{{ page.title }}</li>
</ul>

<div class="row">


    <ul class="list-unstyled">
      {% assign pages_list = site.categories.news %}
      {% include JB/pages_list %}
    </ul>


  <div class="col-md-12">

    <div class="page-header">
      <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    </div>
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

  </div>

</div>
