<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/dist/stylesheets/semantic.css" />
    <link rel="stylesheet" type="text/css" href="/dist/stylesheets/syntax.css" />
    <script src="/dist/javascripts/jquery.min.js"></script>
    <script src="/dist/javascripts/semantic.js"></script>
    <script src="/dist/javascripts/turbolinks.js"></script>
  </head>
  <body>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
